# OS temp files
Desktop.ini
.DS_Store
Thumbs.db

# Ctags tags
.tags

# Maven files
target/
pom.xml.releaseBackup
pom.xml.next
release.properties

# Editor Specific
*.swo
*.swp
*.sublime-project
*.sublime-workspace
.brackets.json

# Directories and files created by standard tools that shouldn't be versioned.
node_modules
dist
.tmp
.sass-cache
bower_components
test/bower_components
checkouts
.rvmrc
npm*.log
Phase II/RailService/coverage
