<div class="attachment-view">
    <div class="file-upload-table">
        <table>
            <tr>
                <th>Filename</th>
                <th>Author</th>
                <th>Creation Date</th>
                <th>File Size</th>
                <th>Last Modified</th>
                <th class="buttonCell" rowspan=2>
                    <button class="uploadButton">Choose File</button>
                    <input class="uploadInput" type="file" file-model='file'>
                </th>
            </tr>
            <tr>
                <td>
                    <input id="fileNameInput" type="text" ng-model="filename">
                </td>
                <td>{{createdBy}}</td>
                <td>{{dateCreated | date : 'short'}}</td>
                <td><span ng-if="file">{{file.size | filesize}}</span></td>
                <td><span ng-if="file">{{file.lastModifiedDate | date : 'short'}}</span></td>
            </tr>
            <tr class="spacer"><td></td></tr>
            <tr>
                <th colspan="2">Tag Name</th>
                <th colspan="3">Tag Value</th>
                <th>Add/Remove</th>
            </tr>
            <tr ng-repeat="tag in tags">
                <td colspan="2">{{tag.description}}</td>
                <td colspan="3">{{tag.value}}</td>
                <td><i class="fa fa-minus" ng-click="removeRow(tag.description)"></i></td>
            </tr>
            <tr>
                <td colspan="2"><input type="text" name="description" ng-model="description"></td>
                <td colspan="3"><input type="text" name="value" ng-model="value"></td>
                <td><i class="fa fa-plus" ng-click="addRow(description, value)"></i></td>
            </tr>
        </table>
    </div>

    <div class="controlls">
        <button class="back" ng-click="back()">Back</button>
        <button ng-show="file" class="file-action" ng-click="save()">Save</button>
        <button ng-hide="file" class="inactive file-action">Save</button>
    </div>
</div>
