<div class="tag-view">
    <table class="file-details-table">
        <tr>
            <th>Filename</th>
            <th>Author</th>
            <th>Creation Date</th>
            <th>Rename</th>
            <th rowspan="2" class="buttonCell">
                <button
                    confirmed-click="renameFile(newFilename)"
                    ng-confirm-click="Are you sure?"
                    >Rename
                </button>
            </th>
        </tr>
        <tr>
            <td>
                {{filename}}
            </td>
            <td>{{createdBy}}</td>
            <td>{{dateCreated | date : 'short'}}</td>
            <td>
                <input
                    type="text"
                    id="fileName"
                    ng-model="newFilename"
                    placeholder="{{filename}}"
                >
            </td>
        </tr>
        <tr class="spacer"><td></td></tr>
        <tr>
            <th colspan="2">Tag Name</th>
            <th colspan="2">Tag Value</th>
            <th>Add/Remove</th>
        </tr>
        <tr ng-repeat="tag in tags">
            <td colspan="2">{{tag.description}}</td>
            <td colspan="2">{{tag.value}}</td>
            <td>
                <i
                    class="fa fa-minus"
                    confirmed-click="removeRow(tag.description)"
                    ng-confirm-click="Remove the {{tag.description}} tag?">
                </i>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="text" name="description" ng-model="description">
            </td>
            <td colspan="2">
                <input type="text" name="value" ng-model="value">
            </td>
            <td>
                <i class="fa fa-plus" ng-click="addRow(description, value)"></i>
            </td>
        </tr>
    </table>

    <div class="controlls">
        <button class="back" ng-click="back()">Back</button>
        <button class="file-action"
                confirmed-click="deleteFile()"
                ng-confirm-click="Are you sure?"
                >Delete
        </button>
    </div>
</div>
