<div class="attachment-view">
    <!-- Display file details -->
    <table class="file-details-table">
        <tr>
            <th colspan="2" class="filename-column">Filename</th>
            <th class="filename-column">Creation Date</th>
            <th class="author-column">Author</th>
            <th class="buttonCell button-column" rowspan="2">
                <button id="download-button"
                        ng-click="downloadFile()">Download</button>
            </th>
        </tr>
        <tr>
            <td colspan="2">
                <!-- Input field for renaming a new file. Angular remembers
                the entered value as $scope.newFilename. Placeholder is
                $scope.filename, the original name of the file from the backend.
                -->
                <input
                type="text"
                id="fileName"
                ng-model="newFilename"
                placeholder="{{filename}}"
                >
                <i
                    class="fa fa-edit rename-button inactive"
                    confirmed-click="renameFile(newFilename)"
                    ng-confirm-click="Are you sure?"
                    >
                </i>
            </td>
            <td>
                {{dateCreated | date : 'short'}}
            </td>
            <td>{{createdBy}}</td>
        </tr>
        <tr class="spacer">
            <td colspan="5">
                <!-- If the extension of the new filename is different
                from the existing one, this warning will show. -->
                <p class="extension-warning">
                    Warning : This will change the file's extension.
                </p>
            </td>
        </tr>
        <tr>
            <th colspan="3">Share Link</th>
            <th>Expiration Date</th>
            <th rowspan="2" class="buttonCell">
                <button id="share-button"
                        ng-click="generateShareLink()">Share</button>
            </th>
        </tr>
        <tr>
            <td colspan="3">
                <textarea class="share-url">
                </textarea>
            </td>
            <td>
                <input
                        class="exp-date-field"
                        ui-date="dateOptions"
                        type="text"
                        ng-model="expirationDate"
                        >
                </td>
        </tr>
        <tr class="spacer"><td></td></tr>
        <tr>
            <th class="tagname-column" colspan="2">Tag Name</th>
            <th class="tagvalue-column" colspan="2">Tag Value</th>
            <th>Add/Remove</th>
        </tr>
        <tr ng-repeat="tag in tags">
            <td colspan="2">{{tag.description}}</td>
            <td colspan="2">{{tag.value}}</td>
            <td>
                <!-- Again, confirm before tag deletion. -->
                <i
                    class="fa fa-minus"
                    confirmed-click="removeRow(tag.description)"
                    ng-confirm-click="Remove the {{tag.description}} tag?">
                </i>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input class="tag-input" type="text" name="description" ng-model="description">
            </td>
            <td colspan="2">
                <input class="tag-input" type="text" name="value" ng-model="value">
            </td>
            <td>
                <i class="fa fa-plus" ng-click="addRow(description, value)"></i>
            </td>
        </tr>
    </table>

    <div class="controls">

        <button class="back" ng-click="back()">Back</button>

        <!-- Again, confirm before file deletion. -->
        <button class="file-action"
                confirmed-click="deleteFile()"
                ng-confirm-click="Are you sure?"
                >Delete
        </button>

        <button class="uploadButton file-action">Replace</button>
        <input class="uploadInput" type="file" file-model='file' accept="{{fileMimeType}}">

    </div>
</div>
