<div class="attachment-view">

    <div class="controls">

        <button class="back" ng-click="back()">Back</button>

        <button     class="download-button"
                    ng-click="downloadFile()">Download</button>

    </div>

    <table class="file-details-table">
        <tr>
            <th colspan="2">Filename</th>
            <th>Author</th>
            <th>Creation Date</th>
            <th rowspan="2" class="button-cell">
                <button class="upload-button file-action">Replace</button>
            </th>
        </tr>
        <tr>
            <td colspan="2">
                {{filename}}
            </td>
            <td>
                {{createdBy}}
            </td>
            <td>
                {{dateCreated | date : 'short'}}
            </td>
        </tr>
        <tr class="spacer">
            <td colspan="5"></td>
        </tr>
        <tr>
            <th class="tagname-column" colspan="2">Tag Name</th>
            <th class="tagvalue-column" colspan="2">Tag Value</th>
            <th>Add/Remove</th>
        </tr>
        <tr ng-repeat="tag in tags">
            <td colspan="2">{{tag.description}}</td>
            <td colspan="2">{{tag.value}}</td>
            <td>
                <!-- Again, confirm before tag deletion. -->
                <i
                    class="fa fa-minus"
                    confirmed-click="removeRow(tag.description)"
                    ng-confirm-click="Remove the {{tag.description}} tag?">
                </i>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input  id="tag-name-input"
                        class="tag-input"
                        type="text"
                        name="description"
                        ng-model="description">
            </td>
            <td colspan="2">
                <input  id="tag-value-input"
                        class="tag-input"
                        type="text"
                        name="value"
                        ng-model="value">
            </td>
            <td>
                <i class="fa fa-plus" ng-click="addRow(description, value)"></i>
            </td>
        </tr>
        <tr class="spacer">
            <td colspan="5"></td>
        </tr>
        <tr>
            <th colspan="4">Rename</th>
            <th rowspan="2" class="button-cell">
                <button class="rename-button inactive"
                    confirmed-click="renameFile(newFilename)"
                    ng-confirm-click="Are you sure?"
                    >Rename</button>
            </th>
        </tr>
        <tr>
            <td colspan="4">
                <!-- Input field for renaming a new file. Angular remembers
                the entered value as $scope.newFilename. Placeholder is
                $scope.filename, the original name of the file from the backend.
                -->
                <input
                type="text"
                id="fileName"
                ng-model="newFilename"
                >
            </td>
        </tr>
        <tr class="spacer">
            <td colspan="5">
                <!-- If the extension of the new filename is different
                from the existing one, this warning will show. -->
                <p class="extension-warning">
                    Warning : This will change the file's extension.
                </p>
            </td>
        </tr>
    </table>

    <div class="controls">

        <!-- Again, confirm before file deletion. -->
        <button class="file-action"
                confirmed-click="deleteFile()"
                ng-confirm-click="Are you sure?"
                >Delete
        </button>

        <button     id="share-button"
                    class="file-action"
                    ng-click="toggleDialogModal()">Share</button>

        <input  class="upload-input"
                type="file"
                file-model='file'>
    </div>

    <modal-dialog show='dialogShown' dialog-title='Share File' height='75%' width='50%'>
        <p>Dialog content goes in here</p>
    </modal-dialog>
</div>
