<!--    File Explorer. Primary tabular view of file data. Primarily uses
        Angular directive ng-Repeat to iterate over rows prepared in the
        scope. Provides controls to work on individual files by embedding
        ukey attributes in the markup and using jQuery to harvest them.      -->
<div class="file-explorer">

        <!-- Pagination Controls -->
        <ul class="pagination pages">
            <li>25</li>
            <li>50</li>
            <li>100</li>
            <li>Reset</li>
        </ul>

        <span class="results">
            {{resultCountLabel}}
        </span>

        <ul class="navigation-menu pagination">
            <li class="navigation-arrow"><i class="fa fa-angle-double-left"></i></li>
            <li class="navigation-arrow"><i class="fa fa-angle-left"></i></li>
            <li>
                <select ng-model="currentPage"
                        ng-init="currentPage = 1"
                        ng-options="p for p in paginationPages">
                </select>
            </li>
            <li class="navigation-arrow"><i class="fa fa-angle-right"></i></li>
            <li class="navigation-arrow"><i class="fa fa-angle-double-right"></i></li>
        </ul>

        <!-- Table that displays all file properties with user controls. -->
        <file-explorer-table></file-explorer-table>

        <!-- Pagination Controls -->
        <ul class="pagination pages">
            <li>25</li>
            <li>50</li>
            <li>100</li>
            <li>Reset</li>
        </ul>

        <span class="results">
            {{resultCountLabel}}
        </span>

        <ul class="navigation-menu pagination">
            <li><i class="navigation-arrow fa fa-angle-double-left"></i></li>
            <li><i class="navigation-arrow fa fa-angle-left"></i></li>
            <li>
                <select ng-model="currentPage">
                    <option ng-repeat="paginationPage in paginationPages"
                            value="{{paginationPage}}">
                            {{paginationPage}}
                    </option>
                </select>
            </li>
            <li><i class="navigation-arrow fa fa-angle-right"></i></li>
            <li><i class="navigation-arrow fa fa-angle-double-right"></i></li>
        </ul>

</div>
