<!--    File Explorer. Primary tabular view of file data. Primarily uses
        Angular directive ng-Repeat to iterate over rows prepared in the
        scope. Provides controls to work on individual files by embedding
        ukey attributes in the markup and using jQuery to harvest them.      -->
<div class="file-explorer">

        <!-- Pagination Controls -->
        <pagination></pagination>

        <!-- Table that displays all file properties with user controls. -->
        <file-explorer-table></file-explorer-table>

        <!-- Pagination Controls -->
        <pagination></pagination>

</div>
