<!--    File Explorer. Primary tabular view of file data. Primarily uses
        Angular directive ng-Repeat to iterate over rows prepared in the
        scope. Provides controls to work on individual files by embedding
        ukey attributes in the markup and using jQuery to harvest them.      -->
<div class="file-explorer">

        <!-- Pagination Controls -->
        <ul class="pagination pages">
            <li>25</li>
            <li>50</li>
            <li>100</li>
            <li>Reset</li>
        </ul>

        <span class="results">
            {{resultCountLabel}}
        </span>

        <ul class="navigation-menu pagination">
            <li><i class="navigation-arrow fa fa-angle-double-left"></i></li>
            <li><i class="navigation-arrow fa fa-angle-left"></i></li>
            <li>
                <select ng-model="currentPage"
                        ng-init="currentPage = 1"
                        ng-options="p for p in paginationPages">
                </select>
            </li>
            <li><i class="navigation-arrow fa fa-angle-right"></i></li>
            <li><i class="navigation-arrow fa fa-angle-double-right"></i></li>
        </ul>

        <!--    Seperate table that displays a header for all the tables that
                will be displayed below it. Also displays sort direction arrows.
                                                                             -->
        <table class="file-explorer-table file-explorer-header">
            <tr>
                <th key="filename">
                    Filename
                    <div ng-if="filename_show">
                        <i ng-show="filename_asc" class="fa fa-angle-up"></i>
                        <i ng-hide="filename_asc" class="fa fa-angle-down"></i>
                    </div>
                </th>
                <th key="bytes">
                    File Size
                    <div ng-if="bytes_show">
                        <i ng-show="bytes_asc" class="fa fa-angle-up"></i>
                        <i ng-hide="bytes_asc" class="fa fa-angle-down"></i>
                    </div>
                </th>
                <th key="created_by">
                    Author
                    <div ng-if="created_by_show">
                        <i ng-show="created_by_asc" class="fa fa-angle-up"></i>
                        <i ng-hide="created_by_asc" class="fa fa-angle-down"></i>
                    </div>
                </th>
                <th key="date_created">
                    Creation Date
                    <div ng-if="date_created_show">
                        <i ng-show="date_created_asc" class="fa fa-angle-up"></i>
                        <i ng-hide="date_created_asc" class="fa fa-angle-down"></i>
                    </div>
                </th>
                <th></th>
            </tr>
        </table>

        <!--    Div that repeats for every client in the collection. clientName
                is the key of the collection, allowing us to display the name.
                                                                             -->
        <div ng-repeat="(clientName, client) in data.clients">
            <table class="file-explorer-table">
                <tr>
                    <!-- Display client name and toggle +/- for collapsing.  -->
                    <th class="client-header" colspan="5">
                        <i  class="toggle fa fa-minus-square"
                            client={{clientName}}>
                        </i>
                        {{clientName}}
                    </th>
                </tr>
            </table>
            <!--    For every location for that client, make a new table for
                    their rows.-->
            <table  class="file-explorer-table location-table"
                    parent-client="{{clientName}}"
                    ng-repeat="(locationName, location) in client"
                    >
                <tr>
                    <!-- Display the location name and the toggle +/- for
                    collapsing the location section. -->
                    <th class="location-header" colspan="5">
                        <i  class="toggle fa fa-minus-square"
                            location="{{locationName}}"
                            parent-client="{{clientName}}"
                        >
                        </i>
                        {{locationName}}
                    </th>
                </tr>
                <!--    Display the actual data and the controls, embedding
                        ukey in the icons so that when they are clicked, we know
                        which row to operate on. -->
                <tr class="data-row"
                    parent-client="{{clientName}}"
                    location="{{locationName}}"
                    ng-repeat="row in location"
                    >
                    <td class="data-cell">{{row.filename}}</td>
                    <td class="data-cell">{{row.bytes | filesize}}</td>
                    <td class="data-cell author">{{row.created_by}}</td>
                    <td class="data-cell">{{row.date_created | date : 'short'}}</td>
                    <td>
                        <i class="fa fa-download" ukey={{row.unique_key}}></i>
                        <i class="fa fa-cog" ukey={{row.unique_key}}></i>
                    </td>
                </tr>
            </table>
        </div>
        <!-- Display all rows that have no client or location. -->
        <table class="file-explorer-table" ng-if="data.noClient">
            <tr>
                <th class="client-header" colspan="5"></i>No Client</th>
            </tr>
            <tr class="data-row" ng-repeat="row in data.noClient">
                <td class="data-cell">{{row.filename}}</td>
                <td class="data-cell">{{row.bytes | filesize}}</td>
                <td class="data-cell author">{{row.created_by}}</td>
                <td class="data-cell">{{row.date_created | date : 'short'}}</td>
                <td>
                    <i class="fa fa-download" ukey={{row.unique_key}}></i>
                    <i class="fa fa-cog" ukey={{row.unique_key}}></i>
                </td>
            </tr>
        </table>

        <!-- Pagination Controls -->
        <ul class="pagination pages">
            <li>25</li>
            <li>50</li>
            <li>100</li>
            <li>Reset</li>
        </ul>

        <span class="results">
            {{resultCountLabel}}
        </span>

        <ul class="navigation-menu pagination">
            <li><i class="navigation-arrow fa fa-angle-double-left"></i></li>
            <li><i class="navigation-arrow fa fa-angle-left"></i></li>
            <li>
                <select ng-model="currentPage">
                    <option ng-repeat="paginationPage in paginationPages"
                            value="{{paginationPage}}">
                            {{paginationPage}}
                    </option>
                </select>
            </li>
            <li><i class="navigation-arrow fa fa-angle-right"></i></li>
            <li><i class="navigation-arrow fa fa-angle-double-right"></i></li>
        </ul>

</div>
