<table class="file-explorer-table file-explorer-header">
    <tr>
        <th ng-click="sortColumn('filename')">
            Filename
            <div ng-if="filename_show">
                <i ng-show="filename_asc" class="fa fa-angle-up"></i>
                <i ng-hide="filename_asc" class="fa fa-angle-down"></i>
            </div>
        </th>
        <th ng-click="sortColumn('bytes')">
            File Size
            <div ng-if="bytes_show">
                <i ng-show="bytes_asc" class="fa fa-angle-up"></i>
                <i ng-hide="bytes_asc" class="fa fa-angle-down"></i>
            </div>
        </th>
        <th ng-click="sortColumn('created_by')">
            Author
            <div ng-if="created_by_show">
                <i ng-show="created_by_asc" class="fa fa-angle-up">
                </i>
                <i ng-hide="created_by_asc" class="fa fa-angle-down">
                </i>
            </div>
        </th>
        <th ng-click="sortColumn('date_created')">
            Creation Date
            <div ng-if="date_created_show">
                <i ng-show="date_created_asc" class="fa fa-angle-up">
                </i>
                <i ng-hide="date_created_asc" class="fa fa-angle-down">
                </i>
            </div>
        </th>
        <th></th>
    </tr>
</table>

<!--    Div that repeats for every client in the collection. clientName
        is the key of the collection, allowing us to display the name.
                                                                     -->
<div ng-repeat="(clientName, client) in data.clients">
    <table class="file-explorer-table">
        <tr>
            <!-- Display client name and toggle +/- for collapsing.  -->
            <th class="client-header" colspan="5">
                <i  ng-show="clientCollapseOptions[clientName]"
                    ng-click="toggleClient(clientName)"
                    class="toggle fa fa-plus-square">
                </i>
                <i  ng-hide="clientCollapseOptions[clientName]"
                    ng-click="toggleClient(clientName)"
                    class="toggle fa fa-minus-square">
                </i>
                {{clientName}}
            </th>
        </tr>
    </table>
    <!--    For every location for that client, make a new table for
            their rows.-->
    <table  class="file-explorer-table location-table"
            parent-client="{{clientName}}"
            ng-repeat="(locationName, location) in client"
            >
        <tr>
            <!-- Display the location name and the toggle +/- for
            collapsing the location section. -->
            <th class="location-header" colspan="5">
                <i  ng-show="locationCollapseOptions[clientName+locationName]"
                    ng-click="toggleLocation(locationName, clientName)"
                    class="toggle fa fa-plus-square"
                    location="{{locationName}}"
                    parent-client="{{clientName}}"
                >
                </i>
                <i  ng-hide="locationCollapseOptions[clientName+locationName]"
                    ng-click="toggleLocation(locationName, clientName)"
                    class="toggle fa fa-minus-square"
                    location="{{locationName}}"
                    parent-client="{{clientName}}"
                >
                </i>
                {{locationName}}
            </th>
        </tr>
        <!--    Display the actual data and the controls, embedding
                ukey in the icons so that when they are clicked, we know
                which row to operate on. -->
        <tr class="data-row"
            parent-client="{{clientName}}"
            location="{{locationName}}"
            ng-repeat="row in location"
            >
            <td ng-click="viewFileDetails(row.unique_key)" class="data-cell">
                {{row.filename}}
                <i  tooltips
                    tooltip-title="This file is shared."
                    tooltip-speed="fast"
                    ng-if="row.is_shared_with_others"
                    class="fa fa-share">
                </i>
            </td>
            <td ng-click="viewFileDetails(row.unique_key)" class="data-cell">{{row.bytes | filesize}}</td>
            <td ng-click="viewFileDetails(row.unique_key)" class="data-cell author">{{row.created_by}}</td>
            <td ng-click="viewFileDetails(row.unique_key)" class="data-cell">{{row.date_created | date : 'M/d/yyyy h:mm a'}}
            </td>
            <td>
                <i  ng-click="downloadFile(row.unique_key)"
                    tooltips
                    tooltip-title="Download File"
                    tooltip-speed="fast"
                    class="fa fa-download">
                </i>
                <i  ng-click="viewFileDetails(row.unique_key)"
                    tooltips
                    tooltip-title="File Details"
                    tooltip-speed="fast"
                    class="fa fa-cog">
                </i>
            </td>
        </tr>
    </table>
</div>
<!-- Display all rows that have no client or location. -->
<table class="file-explorer-table" ng-if="data.noClient">
    <tr>
        <th class="client-header" colspan="5"></i>No Client</th>
    </tr>
    <tr class="data-row" ng-repeat="row in data.noClient">
        <td ng-click="viewFileDetails(row.unique_key)" class="data-cell">{{row.filename}}</td>
        <td ng-click="viewFileDetails(row.unique_key)" class="data-cell">{{row.bytes | filesize}}</td>
        <td ng-click="viewFileDetails(row.unique_key)" class="data-cell author">{{row.created_by}}</td>
        <td ng-click="viewFileDetails(row.unique_key)" class="data-cell">{{row.date_created | date : 'M/d/yyyy h:mm a'}}</td>
        <td>
            <i ng-click="downloadFile(row.unique_key)" class="fa fa-download"></i>
            <i ng-click="viewFileDetails(row.unique_key)" class="fa fa-cog"></i>
        </td>
    </tr>
</table>
