<div class="login-form" ng-controller="LoginCtrl">
    <!-- Default authenticator -->
    <div ng-if="authenticator == 'match' || authenticator == 'ldap'">
        <!-- Login form to display when login controller is in scope. -->
        <form   name="loginForm"
                ng-submit="login(credentials)"
                novalidate>

            <!-- Store credentials as $scope.credentials in login controller -->
            <label for="email">Email</label>
            <input  type="text"
                    id="email"
                    ng-model="credentials.email"
                    required>

            <label for="password">Password</label>
            <input  type="password"
                    id="password"
                    ng-model="credentials.password"
                    required>

            <button type="submit">Login</button>
        </form>
    </div>

    <!-- Persona -->
    <div ng-if="authenticator == 'persona'">
        <button id="persona-login"
                onclick="navigator.id.request()">
            Login with Mozilla Persona
        </button>
    </div>

    <!-- Firebase -->
    <div id="firebaseui-auth-container"></div>
    <div ng-if="authenticator == 'firebase'"></div>
</div>
