<ul class="pagination pages">
    <li>25</li>
    <li>50</li>
    <li>100</li>
    <li>Reset</li>
</ul>

<span class="results">
    {{resultCountLabel}}
</span>

<ul class="navigation-menu pagination">
    <li class="navigation-arrow"><i class="fa fa-angle-double-left"></i></li>
    <li class="navigation-arrow"><i class="fa fa-angle-left"></i></li>
    <li>
        <select class="current-page"
                ng-model="paginationParams.currentPage"
                ng-init="paginationParams.currentPage = 1"
                ng-options="p for p in paginationParams.paginationPages">
        </select>
    </li>
    <li class="navigation-arrow"><i class="fa fa-angle-right"></i></li>
    <li class="navigation-arrow"><i class="fa fa-angle-double-right"></i></li>
</ul>
