<ul class="pagination pages">
    <li ng-click="paginate('me')"
        tooltips
        tooltip-title="Show files shared with you."
        tooltip-speed="fast">
        <i class="fa fa-sign-in"></i>
    </li>
    <li ng-click="paginate('others')"
        tooltips
        tooltip-title="Show files you've shared with others."
        tooltip-speed="fast">
        <i class="fa fa-sign-out"></i>
    </li>
    <li ng-click="paginate(25)">25</li>
    <li ng-click="paginate(50)">50</li>
    <li ng-click="paginate(100)">100</li>
    <li ng-click="paginate('reset')">Reset</li>
</ul>

<span class="results">
    {{resultCountLabel}}
</span>

<ul class="navigation-menu pagination">
    <li class="navigation-arrow" ng-click="navigate('first')"><i class="fa fa-angle-double-left"></i></li>
    <li class="navigation-arrow" ng-click="navigate('prev')"><i class="fa fa-angle-left"></i></li>
    <li>
        <select class="current-page"
                ng-model="paginationParams.currentPage"
                ng-options="p for p in paginationParams.paginationPages">
        </select>
    </li>
    <li class="navigation-arrow" ng-click="navigate('next')"><i class="fa fa-angle-right"></i></li>
    <li class="navigation-arrow" ng-click="navigate('last')"><i class="fa fa-angle-double-right"></i></li>
</ul>
