<select ng-model="shareMode"
        ng-options="item.id as item.label for item in shareOptions">
</select>

<table class="file-details-table">
    <tr>
        <th>All Authenticated Users</th>
    </tr>
    <tr>
        <td>
            <i class="fa fa-check"></i>
        </td>
    </tr>
    <tr class="spacer">
        <td></td>
    </tr>
    <tr>
        <th>Anyone with the URL</th>
    </tr>
    <tr>
        <td>
            <textarea class="share-url"></textarea>
        </td>
    </tr>
    <tr class="spacer">
        <td></td>
    </tr>
    <tr>
        <th>Specific Users</th>
    </tr>
    <tr>
        <td>
            <select placeholder="Enter email addresses..."
                selectize="selectizeOptions"></select>
        </td>
    </tr>
</table>
