<div class="user-manual">
    <h1>Hydra File Explorer User Manual</h1>
        <h2>Table of Contents</h2>
        <ul>
            <li>Login and Logout</li>
            <li>Upload and Download Files</li>
            <li>View and Edit Files</li>
            <li>Search and Navigation</li>
        </ul>
        <h2>Login and Logout</h2>
            <p><b>Logging in:</b><br>
                To begin using the Hydra File Explorer, enter your <b>Email</b> and <b>Password</b> on the login page and click <b>Login</b>.
            </p>
            <img src="/images/manual_login.png">
            <p><b>Logging out:</b><br>
                When ready to logout of your account, click the <b>Logout</b> button on the right side of the top menu bar.
            </p>
            <img src="/images/manual_logout.png">
        <h2>Upload and Download Files</h2>
            <p><b>Upload a file:</b><br>
                Access the <b>Upload File</b> page through the link on left side of the File Explorer menu bar.
            </p>
            <img src="/images/manual_upload.png">
            <p>
                Continue by clicking <b>Choose File</b> and navigating to the file you wish to upload. Once selected, the file information will be displayed with options to rename and tag the file before upload. Rename the file by typing in the <b>Filename</b> field where the current filename is displayed. Add tags by filling out the empty <b>Tag Name</b> and <b>Tag Value</b> fields and clicking the <i class="fa fa-plus"></i> icon, and remove tags by clicking the <i class="fa fa-minus"></i> icon. When desired changes are complete click <b>Save</b> to finish, or cancel by clicking the <b>Back</b> button.
            </p>
            <img src="/images/manual_uploadfile.png">
            <p><b>Download a file:</b><br>
                A copy of a file can be downloaded from the File Explorer to your local hard drive using the associated <i class="fa fa-download"></i> icon on the right side of the file list.
            </p>
        <h2>View and Edit Files</h2>
            <p><b>View file details:</b><br>
                File details can be accessed from the file list by clicking anywhere in the associated file row or by clicking the <i class="fa fa-cog"></i> icon to the right. Use the Back button or the File Explorer link to return to the file list.
            </p>
            <img src="/images/manual_listitem.png">
            <p><b>Replacing a file:</b><br>
                Use the <b>Replace File</b> button on the file details page and navigate to the new file you wish to overwrite the current file with. Replacing a file will maintain the original filename and tags.
            </p>
            <img src="/images/manual_replacefile.png">
            <p><b>Editing file tags:</b><br>
                Add tags on the file details page by filling out the empty <b>Tag Name</b> and <b>Tag Value</b> fields and clicking the <i class="fa fa-plus"></i> icon, and remove tags by clicking the <i class="fa fa-minus"></i> icon.
            </p>
            <img src="/images/manual_edittags.png">
            <p><b>Renaming a file:</b><br>
                A filename can be renamed on the file details page by entering text in the lower filename field and clicking the <b>Rename File</b> button.
            </p>
            <img src="/images/manual_renamefile.png">
        <h2>Search and Navigation</h2>
            <p><b>Search files:</b><br>
                You can search through files by Filename, Author, Creation Date, and Tag Value. Reset the file list to display all with a blank search or by clicking the Reset button from the navigation options.
            </p>
            <img src="/images/manual_search.png">
            <p>
                Searching for files by Creation Date the search must be part of the following format: [YYYY]-[MM]-[DD]<br>
                Examples: Search for entries on January 3rd, 2015 by entering "2015-01-03” as a search without quotes. Search for all January entries with "2015-01"
            </p>
            <p><b>Navigating pages:</b><br>
                Above the file list are options for display and navigation of pages. The <b>25, 50, and 100</b> options will change the number of entries displayed per page. Use <b>Reset</b> to return to default display settings. Navigate between pages with the arrows on the right. Single arrows (<b><i class="fa fa-angle-left"></i> <i class="fa fa-angle-right"></i></b>) change one page at a time, double arrows (<b><i class="fa fa-angle-double-left"></i> <i class="fa fa-angle-double-right"></i></b>) jump to the first or last page, and the drop down menu can select a specific page number.
            </p>
            <img src="/images/manual_pagenav.png">
            <p><b>Sorting file list:</b><br>
                Click a the name of a file attribute (Ex: "Author") to toggle between descending (<i class="fa fa-angle-down"></i>) and ascending (<i class="fa fa-angle-up"></i>) sorting of the file list. Collapse categories by clicking the <i class="fa fa-minus-square"></i> icon and expand by clicking the <i class="fa fa-plus-square"></i> icon.
            </p>
            <img src="/images/manual_sorting.png">
</div>
