<div class="file-explorer">
    <div ng-repeat="key in data">
        <table ng-if="key" class="file-explorer-table" client={{key[0].client}}>
            <tr>
                <th colspan="5"><i class="fa fa-plus-square" client={{key[0].client}}></i> {{key[0].client}}</th>
            </tr>
            <tr ng-repeat="row in key">
                <td>{{row.filename}}</td>
                <td>{{row.bytes | filesize}}</td>
                <td class="author">{{row.created_by}}</td>
                <td>{{row.date_created | date : 'short'}}</td>
                <td>
                    <i class="fa fa-download" ukey={{row.unique_key}}></i>
                    <i class="fa fa-cog" ukey={{row.unique_key}}></i>
                </td>
            </tr>
        </table>
    </div>
</div>
