<div class="file-explorer">
        <table class="file-explorer-table file-explorer-header">
            <tr>
                <th key="filename">
                    Filename
                    <div ng-if="filename_show">
                        <i ng-show="filename_asc" class="fa fa-angle-up"></i>
                        <i ng-hide="filename_asc" class="fa fa-angle-down"></i>
                    </div>
                </th>
                <th key="bytes">
                    File Size
                    <div ng-if="bytes_show">
                        <i ng-show="bytes_asc" class="fa fa-angle-up"></i>
                        <i ng-hide="bytes_asc" class="fa fa-angle-down"></i>
                    </div>
                </th>
                <th key="created_by">
                    Author
                    <div ng-if="created_by_show">
                        <i ng-show="created_by_asc" class="fa fa-angle-up"></i>
                        <i ng-hide="created_by_asc" class="fa fa-angle-down"></i>
                    </div>
                </th>
                <th key="date_created">
                    Creation Date
                    <div ng-if="date_created_show">
                        <i ng-show="date_created_asc" class="fa fa-angle-up"></i>
                        <i ng-hide="date_created_asc" class="fa fa-angle-down"></i>
                    </div>
                </th>
                <th></th>
            </tr>
        </table>
        <table ng-repeat="key in data" ng-if="key" class="file-explorer-table" client={{key[0].client}}>
            <tr>
                <th colspan="5"><i class="toggle fa fa-minus-square" client={{key[0].client}}></i> {{key[0].client}}</th>
            </tr>
            <tr ng-repeat="row in key">
                <td>{{row.filename}}</td>
                <td>{{row.bytes | filesize}}</td>
                <td class="author">{{row.created_by}}</td>
                <td>{{row.date_created | date : 'short'}}</td>
                <td>
                    <i class="fa fa-download" ukey={{row.unique_key}}></i>
                    <i class="fa fa-cog" ukey={{row.unique_key}}></i>
                </td>
            </tr>
        </table>

        <ul class="pagination pages">
            <li>25</li>
            <li>50</li>
            <li>100</li>
        </ul>

        <ul class="pagination navigation">
            <li><i class="fa fa-angle-double-left"></i></li>
            <li><i class="fa fa-angle-left"></i></li>
            <li><i class="fa fa-angle-right"></i></li>
            <li><i class="fa fa-angle-double-right"></i></li>
        </ul>
</div>
