<div class="tagView">
    <div class="fileProperties">
            <div class="leftColumn">
                <ul>
                    <li>
                        <span>File Name:</span><input type="text" value="{{file.name}}">
                    </li>
                    <li><span>Author:</span>{{createdBy}}</li>
                    <li><span>Creation Date:</span>{{dateCreated | date : 'short'}}</li>
                </ul>
            </div>
            <div class="rightColumn">
                <ul>
                    <li><span>Attachment:</span><input type="file" file-model='file'></li>
                </ul>

            </div>
    </div>
    <div class="tags">
        <table>
            <tr><th>Tag Name</th><th>Tag Value</th><th>Add/Remove</th></tr>
            <tr ng-repeat="tag in tags">
                <td>{{tag.description}}</td>
                <td>{{tag.value}}</td>
                <td><i class="fa fa-minus" ng-click="removeRow(tag.description)"></i></td>
            </tr>
            <tr>
                <td><input type="text" name="description" ng-model="description"></td>
                <td><input type="text" name="value" ng-model="value"></td>
                <td><i class="fa fa-plus" ng-click="addRow(description, value)"></i></td>
            </tr>
        </table>
    </div>

    <div class="controlls">
        <button class="leftButton" ng-click="back()">Back</button>
        <button ng-if="file" class="rightButton" ng-click="save()">Save</button>
    </div>
</div>
