<div class="tagView">
    <div class="fileProperties">
            <div class="leftColumn">
                <ul>
                    <li>
                        <span>File Name:</span>
                        <input
                            type="text"
                            id="fileName"
                            ng-model="newFilename"
                            placeholder="{{filename}}">
                        <button
                            ng-click="renameFile(newFilename)"
                            confirmed-click="renameFile(newFilename)"
                            ng-confirm-click="Are you sure?"
                            >Rename
                        </button>
                    </li>
                </ul>
            </div>
            <div class="rightColumn">
                <ul>
                    <li><span>Author:</span>{{createdBy}}</li>
                    <li><span>Creation Date:</span>{{dateCreated | date : 'short'}}</li>
                </ul>
            </div>
    </div>
    <div class="tags">
        <table>
            <tr><th>Tag Name</th><th>Tag Value</th><th>Add/Remove</th></tr>
            <tr ng-repeat="tag in tags">
                <td>{{tag.description}}</td>
                <td>{{tag.value}}</td>
                <td>
                    <i
                        class="fa fa-minus"
                        confirmed-click="removeRow(tag.description)"
                        ng-confirm-click="Remove the {{tag.description}} tag?">
                    </i>
                </td>
            </tr>
            <tr>
                <td><input type="text" name="description" ng-model="description"></td>
                <td><input type="text" name="value" ng-model="value"></td>
                <td><i class="fa fa-plus" ng-click="addRow(description, value)"></i></td>
            </tr>
        </table>
    </div>

    <div class="controlls">
        <button class="leftButton" ng-click="back()">Back</button>
        <button class="rightButton"
                confirmed-click="deleteFile()"
                ng-confirm-click="Are you sure?"
                >Delete
        </button>
    </div>
</div>
