<div class="fileProperties">
    <ul>
        <li>
            <label for="fileName">File Name</label>
            <input type="text" id="fileName" ng-model="newFilename" placeholder="{{filename}}">
        </li>
        <li>Author: {{createdBy}}</li>
        <li>Creation Date: {{dateCreated | date : 'short'}}</li>
    </ul>

    <button ng-click="renameFile(newFilename)">Rename</button>
    <button ng-click="deleteFile()">Delete</button>
    <button ng-click="back()">Back</button>
</div>
<div class="tags">
</div>
