// https://github.com/devinhunt/typebase.css/blob/master/typebase.css
@import 'typebase';

// Fonts
@import url(http://fonts.googleapis.com/css?family=Lato);

// Color Palette
$light-gray: #C0C0C0;
$medium-gray: #666666;
$dark-gray: #222222;
$off-white: #FAFAFA;
$off-black: #0F0F0F;
$light-red: #DD2C29;
$red: #DC1E30;

//Defaults
$default-padding: 10px;
$default-margin: 30px;
$default-indentation: 10px;
$default-figure-width: 400px;
$default-figcaption-height: 20px;

// Project-Wide
body {
  margin: 0;
  color: $off-black;
  background-color: $off-white;
  font-family: 'Lato', sans-serif;
  text-rendering: geometricPrecision;
}

.content-wrapper {
  margin: $default-margin $default-margin * 2;
}

// Headers

// Large ribbon document header
h2 {
  position: relative;
  margin-right: 15%;
  padding: $default-padding;
  text-align: center;
  color: $off-white;
  background-color: $dark-gray;
}

// Section header
h3 {
  margin-right: 45%;
  padding: $default-padding;
  color: $red;
  border-bottom: 2px solid $red;
}

// Fading red line effect for section header.
h3:before {
  position: relative;
  right: -10px;
  bottom: -45px;
  display: block;
  height: 2px;
  content: "";
  background: linear-gradient(to right, rgba(250,250,250,0) 0%, rgba(250,250,250,1) 100%);
}

// Subheaders
h4, h5 {
  margin-bottom: 0;
  color: $red;
}

h4 {
  font-size: 1em;
  margin-left: $default-indentation;
}

h5 {
  font-size: .75em;
  margin-left: $default-indentation * 2;
  font-style: italic;
}

// Ribbon Effect
h2:after {
  position: absolute;
  z-index: -1;
  right: -1.75em;
  bottom: -1em;
  display: block;
  content: "";
  border: .75em solid $light-gray;
  border-right-color: transparent;
  border-left-width: 2em;
}

h2 span:after {
  position: absolute;
  right: 0;
  bottom: -1em;
  display: block;
  content: "";
  border-width: 1em 1em 0 0;
  border-style: solid;
  border-color: $medium-gray transparent transparent transparent;
}

// Links
a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: $light-red;
}

// Lists
ul, ol {
  max-width: 70%;
  margin: $default-margin;
}

ul {
  list-style: none;
}

li {
  padding: $default-padding / 2 ;
  padding-left: 1em;
  text-indent: -.7em;
}

// Colored Bullets
ul li:before {
    content: "• ";
    color: $red;
}

// Tables
table {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

th {
  color: $off-white;
  background: $dark-gray;
  text-align: center;
}

td {
    text-align: left;
}

th, td {
  padding: ($default-padding / 2) ($default-padding * 2);
}

table tr:nth-child(odd) {
   background-color: $light-gray;
}

body section {
  clear: both;
  margin: $default-margin auto $default-margin / 2;
}

// Text
p {
  margin-left: $default-indentation * 2;
}

// Figures
figure {
  padding: $default-padding;
  text-align: center;
  border: 2px solid $dark-gray;
  border-radius: 15px;
  margin: $default-margin auto;
  max-width: $default-figure-width;
}

figure img {
  max-width: $default-figure-width;
}

figure.medium {
  max-width: $default-figure-width * 1.5;
}

figure.medium img {
  max-width: $default-figure-width * 1.5;
}

figure.large {
  max-width: $default-figure-width * 2;
}

figure.large img {
  max-width: $default-figure-width * 2;
}

figcaption {
  height: $default-figcaption-height;
  font-size: .75em;
}
